
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,200;0,400;1,300&display=swap');

*{
    box-sizing:border-box;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}
body{
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: 'Noto Serif Display', serif;
    color:black;
}
h1,h2,h3,h4,h5,h6{
    font-weight:400;
    margin-top:0;
    font-family: 'Mate', serif;
    font-family: 'Noto Serif Display', serif;
}

h1{
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
}
h2{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
h3{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}
h4{
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}
h5{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}
h6{
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}
p:last-child{
    margin-bottom: 0;
}
a,button{
    color:inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
.btn:focus{
    box-shadow:none;
}
a,
button,
img,
input,
span{
    transition: all 0.3s ease 0s;
}
*:focus{
    color: inherit;
    outline:none;
    text-decoration: none;
}
button,
input[type="submit"]{
    cursor:pointer;
}
img{
    max-width: 100%;
    height: auto;
}
ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.home_black_version{
    background: #242424;
}
.home_black .header_top{
    border-bottom: 1px solid #2d2d2d;
}
.header_black .social_icone ul li a{
    background: black;
    color: #cccccc;
}
.header_black .social_icone ul li a:hover{
    background: rosybrown;
}
.header_black .top_right > ul >li::before{
    background: #2d2d2d;
}
.header_black .top_right > ul > li:hover > a{
    color: rosybrown;
}
.header_black .top_right > ul > li > a{
    color: antiquewhite;
}
.header_black .top_right > ul > li > a:not([href]):not([tabindex]) {
    color: antiquewhite;
}
.header_black .top_right > ul > li > a:not([href]):not([tabindex]):hover{
    color: rosybrown;
}


.header_black .dropdown_links li{
    border-bottom: 1px solid #2d2d2d;
}
.header_black .dropdown_links li a:hover{
    color: rosybrown;
}

.header_black .dropdown_links{
    left: -98%;
}

.social_icone ul li{
    display: inline-block;
    margin-left: 5px;
}
.social_icone ul li:first-child{
    margin-left: 0;
}

.social_icone ul li a{
    background: #ebebeb;
    color: #aaaaaa;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;

}
.social_icone ul li a:hover{
    background: rosybrown;
    color: antiquewhite;
}
.top_right > ul >li{
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
}
.top_right > ul > li:hover ul.dropdown_links,
.header_black .top_right > ul > li:hover ul.dropdown_links{
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.top_right > ul > li:first-child{
    padding-left: 0;
    margin-left: 0;
}
.top_right > ul > li::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #ebebeb;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.top_right > ul > li:first-child::before{
    display: none;
}
.top_right > ul > li > a{
    color: #242424;
    text-transform: capitalize;
    line-height: 26px;
    font-size: 12px;
    cursor: pointer;
    display:block;
    font-weight: 400;
    padding: 9px 0;
}

.top_right > ul > li > a i{
    margin-left: 3px;
    font-size: 10px;
}
 .dropdown_links,
 .header_black .dropdown_links{
    position: absolute;
    background: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    text-align: center;
    top: 125%;
    transition: all 0.3s eas;
    overflow: hidden;
    left: -154%;
    z-index: 9999;
    padding: 0 15px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
 }
 .header_black .dropdown_links{
    background: #242424;
 }
 .header_black .dropdown_links li a{
    text-transform: capitalize;
    display: block;
    font-size: 12px;
    color: #242424;
    text-align: center;
 }

 .header_black .dropdown_links li a:hover{
    color: rosybrown;
}
.header_black .dropdown_links li:last-child{
    border-bottom: 0;
}
.header_black .dropdown_links li a{
    color: antiquewhite;
}
.header_black .dropdown_links{
    left: -98%;
}
.header_black .dropdown_links li{
    border-bottom: 1px solid #2d2d2d;
    line-height: 30px;
    padding: 5px 0;
}
.header_black .dropdown_links li:last-child{
    border-bottom: 0;
}

.header_black .dropdown_links li a:hover{
    color: rosybrown;
}


/* ***********************Middle Header********* */
.header_middle{
    padding: 40px 0;
    border-bottom:1px solid #ebebeb;
}

.header_black .header_middle{
    border-bottom: 1px solid #2d2d2d;
}


.logo{
    padding: 0 20px;
}
.middle_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.search_btn{
    position: relative;

}
.search_btn:hover .dropdown_search{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.search_btn a{
    width: 45px;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    border: 1px solid;
    color: antiquewhite;
    font-size: 20px;
    display: block;
}
.search_btn a:hover{
    color: rosybrown;
}
.header_black .search_btn from button{
    position: absolute;
    top:0;
    right: 10px;
    border: 0;
    background: inherit;
    color: purple;
    font-size: 20px;
    height: 100%;
}

.header_black .search_btn form button:hover{
    color: palevioletred;
}
.dropdown_search{
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    top: 120%;
    transition: 0.3s;
}
.dropdown_search form{
    position: relative;
    width: 280px;
    border: 1px solid #ebebeb;
    background: black;
    z-index: 9;
}
.dropdown_search form input{
border: 0;
width: 100%;
height: 50px;
line-height: 50px;
padding: 0 67px 0 10px;
background: inherit;
font-size: 12px;
color: lavenderblush;

}
.dropdown_search form button{
    position: absolute;
    top: 0;
    right: 0;
    background: antiquewhite;
    width: 59px;
    height: 100%;
    border: 0;
    border-left: 1px solid ;
    padding: 0;
    font-size: 20px;
    background: none;
    color: antiquewhite;
}
.header_black ,.dropdown_search form{
    background: #242424;
    border: 1px solid antiquewhite;
}
.header_black .wishlist_btn{
    margin-left: 18px;
}
.header_black .wishlist_btn a{
    width: 45px;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    display: block;
    border: 1px solid plum;
    color: peachpuff;
}
.header_black .wishlist_btn a:hover{
    color: rgba(101, 62, 81, 0.9);
}
.cart-link{
    margin-left: 25px;
    position:relative;
    
    
}
.cart-link span.cart_quantity {
    position: absolute;
    left: -11px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background: darkorange;
    color: seagreen;
    border-radius: 50%;
    top: 12px;
}
.cart-link > a{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: aqua;
    border: 1px solid darkred;
    padding: 11px 10px 13px 18px;
    line-height: 15px;
    border-radius: 3px;
    display: block;
}
.cart-link > a:hover{
    color: sienna;
}
.cart-link > a i.ion-android-cart{
    font-size: 17px;
    margin-right: 1px solid plum;
    border-right: 1px solid rosybrown;
    position: relative
    top 3px;
    padding-right: 10px;
}
.cart-link > a i.ion-chevron-down{
    font-size: 17px;
    margin-left: 3px;
}
.header_black .cart-link span.cart_quantity{
background: whitesmoke;
}

.header_black .cart-link > a{
    color: papayawhip;
    border: 1px solid lightgrey;
}
.header_black .cart-link > a:hover{
    color: rosybrown;
}
.header_black .cart-link > a i.ion-android-cart{
    border-right: 1px solid antiquewhite;
}

.mini_cart{
    position: fixed;
    min-width: 355px;
    height: 100%;
    padding: 18px 20px 33px;
    background: yellow;
    z-index: 999;
    right: 0;
    top: 0;
    transition: 0.5s;
    transform: translateX(100%);
}
.mini_cart.active{
    transform: translateX(0);
    transition: 00.5s;
}
.header_black .mini_cart{
    background: khaki;
    border: 1px solid sandybrown;
}
.cart_close{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2d2d2d;
}
.cart_text h3{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
    color: white;
}

.mini_cart_close > a{
    font-size: 25px;
    color: white;
}
.mini_cart_close > a:hover{
    color: rosybrown;
}
.cart_item{
    padding: 20px 0;
    border-bottom: 1px solid #2d2d2d;
    display: flex;
    overflow: hidden;
}
.cart_img{
   width: 100px;
   margin-right: 10px;
}
.cart_info a {
    font-weight: 400;
    color:antiquewhite;
    text-transform: capitalize;
    font-size: 14px;
}
.cart_info a:hover{
    color:rosybrown;
}
.cart_info span{
    display: block;
}
.cart_info span.price_cart{
    color: rosybrown;
    font-weight: 500;
}
.header_black .cart_info span.quantity{
    color: azure;
}
.cart_remove {
    width: 10%;
    text-align: right;
}
.cart_remove a{
    color: antiquewhite;
    font-size: 18px;
}
.cart_remove a:hover {
    color: rosybrown;
}
.cart_total{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.cart_total span{
    color: antiquewhite;
    font-weight: 400;
    font-size: 14px;
}
.mini_cart_footer{
    padding: 0 25px 25px;
    background: #242424;
}
.cart_button a{
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 400;
    color:antiquewhite;
    background: rosybrown;
    display: block;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0;
    padding: 13px 0 11px;
}
.cart_button a:hover {
    background-color: thistle;
}
.cart_button.view_cart{
    padding-bottom: 15px;
}
.cart_button a.active{
    background: rosybrown;
}

.cart_button a.active:hover{
    background: thistle;
    color: #000000;
    font-weight: 600;
}
/* ********************Header down(3rd)********** */

.header_bottom.sticky-header.sticky.main_menu_inner{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_bottom.header_bottom.sticky-header.sticky.logo_sticky{
    display: block;
}
.header_black .header_bottom{
    border-bottom: 1px solid #2d2d2d;
}
.sticky-header.sticky{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: rgba(101, 62, 81, 0.9);
    box-shadow: 0 1px 3px rgba(2, 28, 57, 0.11);
    animation-name: fadeInDown;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.header_bottom.header_bottom.sticky-header.sticky.main_menu_inner{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_black.sticky-header.sticky{
    background: rgba(54,63,77,0.9);
    box-shadow: 0,1px 3px rgba(0,0,0,0.11);
}
.main_menu_inner{
    text-align: center;
}
.logo_sticky {
    display: none;
    margin-right: 35px;
}
.logo_sticky a img {
    max-width: 120px;
}
.main_menu nav > ul >li {
    display: inline-block;
    position: relative;
}
.main_menu nav > ul > li > a i{
    margin-left: 2px;
}
.main_menu nav > ul > li:hover > a{
    color: rosybrown;
}
.main_menu nav > ul > li.active > a {
    color: rosybrown;
}
.main_menu nav > ul > li:first-child a {
    padding-left: 0;
}
.main_menu nav > ul > li:last-child a{
    padding-right: 0;
}
.main_menu nav > ul > li ul.sub_menu{
    position: absolute;
    min-width: 200px;
    padding: 30px 25px;
    background: #fff;
    border: 1px solid burlywood;
    transform: perspective(600px) rotateX(-90deg);
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}
.main_menu nav > ul > li ul.sub_menu > li >a{
    font-size: 15px;
}
.main_menu nav > ul > li:hover .sub_menu,
.main_menu nav > ul > li:hover .mega_menu{
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}
.main_menu nav  ul  li ul li.active a,
.main_menu nav ul li ul li a:hover{
    color: rosybrown;
}

.main_menu nav > ul > li > ul > li >a {
    color: thistle;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
}
.main_menu nav > ul > li > ul.sub_menu > li:last-child > a{
    margin-bottom: 0;
}
.main_menu nav > ul > li > ul.mega_menu li ul li:last-child a {
    margin-bottom: 0;
}

.main_menu nav ul li ul.mega_menu{
    position: absolute;
    min-width: 580px;
    padding: 30px 25px 35px;
    background: #fff;
    border: 1px solid #ebebeb;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}
.main_menu nav > ul > li > ul.mega_menu > li{
    width: 33%;
    float: left;
}
.main_menu nav > ul > li >  ul.mega_menu > li > a {
    text-transform: uppercase;
    color: #242424;
    font-weight: 500;
    margin-bottom: 30px;
}
.main_menu nav > ul > li > ul.mega_menu > li > a:hover{
    color: rosybrown;
}
.main_menu nav > ul > li >ul.mega_menu li ul li a{
    color: #808080;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 11px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
}
.main_menu nav > ul > li > ul.mega_menu li a:hover{
    color: rosybrown;
}
.main_menu nav ul li ul.sub_menu.pages{
    left: inherit;
    right: inherit;
}
.header_black .main_menu nav > ul > li.active > a {
    color: rosybrown;
}
.header_black .main_menu nav > ul > li:hover > a{
    color: lightgrey;
}
.header_black .main_menu nav > ul > li > a{
    color: #ffffff;
    font-family: serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
}
.header_black .main_menu nav > ul > li ul.sub_menu{
    background: #242424;
    border: 1px solid #2d2d2d;
}
.header_black .main_menu nav > ul > li ul.sub_menu li a{
    color: #ffffff;
    font-family: serif;
}

.header_black .main_menu nav > ul > li ul.sub_menu li a:hover{
    color: rosybrown;
}
.header_black .main_menu nav > ul > li ul.mega_menu{
    background: #242424;
    border: 1px solid #242424;
}
.header_black .main_menu nav > ul > li ul.mega_menu > li > a {
    color: black;
    font-family: serif;
}
.header_black .main_menu nav > ul > li ul.mega_menu > li > a:hover{
    color: rosybrown;
}
.header_black .main_menu nav > ul > li ul.mega_menu > li ul li a{
     color: #ffffff;
}
.header_black .main_menu nav > ul > li ul.mega_menu > li  ul li a:hover{
    color: rosybrown;
}
.ion-chevron-down{
    font-size: 14px;
    padding-left: 3px;
}
.main_menu nav > ul > li > a{
    display: block;
    padding: 19px 20px;
    color: #212121;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 500;
}




